html, body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e8f5e9;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}


/* main content contanier (site container) */
.maincontainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0;
    margin: 0;
}

.maincontainer *{
    padding: 0;
}

/* container for sidebars */
.navContainer {
    display: flex;
    flex-direction: row;
}


/* first sideBar (main sidebar) */
.firstSideBarContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #81c784;
    z-index: 1;
}

.FirstSideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    z-index: 1;
}

/* First sidebar content */

.logo {
    max-width: 5em;
    max-height: 5em;
    cursor: pointer;
    border-bottom: 1px solid grey;
}

.dark-mode {
    background-color: #424242;
    transition: 1s;
    color: white;
}
  /* Toolbar */

.ql-snow .ql-picker {
    color: #81C784;
}

.ql-snow .ql-stroke {
    stroke: #81C784;
}

.darkmode-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.darkmode-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

li {
    list-style-type: none;
}

/* second sidebar (sub sidebar) */
.secondSideBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    transform: translateX(0%);
    transition: transform 0.4s ease-in;
    background-color: #c8e6c9;
    overflow-y: auto;
}

.secondSideBarContainer-active {
    transform: translateX(-100%);
}


.secondSideBar {
    display: flex;
    flex-direction: column;
    background-color: #c8e6c9;
    width: 100%;
}

.dark-mode-secondSidebar {
    background-color: #545454;
    color: white;
}
/* Second Sidebar content */

/* Note list */
.noteContent {
    display: flex;
    justify-content: center;
}

.div {
    word-break: break-all;
    transition: 0.3s;
    padding: 7%;
    height: 90px;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    letter-spacing: 0.8px;
} 

#noteContent div:hover {
    transition: 0.5s ease;
    background-color: #81c784;
}

.div > .fa-heart, .fa-trash-alt {
    float: right;
    margin-left: 1em;
}

/* Searchbar */
.search {
    margin: 10% 0 10% 0;
    text-align: center;
    padding: 5%;
    border-radius: 8px;
    border: hidden;
    cursor: pointer;
    outline: none;
    background-color: #c8e6c9;
}

.search:hover {
    box-shadow: 5px 10px 8px #888888;
    transition: 1s;
}

.dark-mode-secondSidebar {
    background-color: #545454;
    color: white;
}
/* When note is picked */
.picked {
    padding: 5%;
    word-break: break-all;
    transition: 0.3s;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
    background-color: #81c784;
    letter-spacing: 0.8px;
}

/* main content container (editor + toolbar) */
.mainEditorContainer {
    display: flex;
    flex: 1;
    padding: 50px 50px 0 50px;
    overflow-y: auto;
}

/* Editor */

#editor {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ql-editor {
    overflow-y: visible;
    max-width: 85%;
    word-break: break-all;
    height: auto;
    min-height: 100%;
    padding: 25px;
    background-color: lightgoldenrodyellow;
    border-radius: 2px;
}

.dark-mode-editor {
    background-color: lightgreen;
}

#quillEditor {
    border: none;
    position: relative;
}

/* Editor Toolbar */
.ql-toolbar.ql-snow {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -25px;
    top: 20px;
    border: none;
}

/* print icon */

#print {
    position: absolute;
    right: 75px;
    top: 250px;
    cursor: pointer;
    color: #81c784;
}

#print:hover {
    color: lightblue;
}


@media only screen and (max-width: 768px) {
    html, body {
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: #e8f5e9;
        font-family: 'Roboto', sans-serif;
        overflow: hidden;
    }
    .maincontainer {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    .navContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        width: 100%;
    }

    .FirstSideBar {
        display: flex;
        flex-direction: row;
        
        z-index: 1;
        flex: 2;
    }

    .FirstSideBar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
        height: 50px;
    }

    .secondSideBarContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        transform: translatey(100%);
        transition: transform 0.4s ease-in;
        background-color: #c8e6c9;
        overflow-y: auto;
        position: fixed;
        z-index: 1;
    }
    
    .secondSideBarContainer-active {
        transform: translatey(-100%);
    }
    
    
    .secondSideBar {
        display: flex;
        flex-direction: column-reverse;
        background-color: #c8e6c9;
        align-items: center;
    }

    .noteContent {
        display: flex;
        
    }

    .div {
        word-break: break-all;
        transition: 0.3s;
        padding: 2% 30% 2% 30%;
        height: 90px;
        cursor: pointer;
        border-bottom: 1px solid lightgray;
        letter-spacing: 0.8px;
        margin: 0;
    } 

    #noteContent div:hover {
        transition: 0.5s ease;
        background-color: #81c784;
    }

    .search {
        margin: 3% 0 3% 0;
        text-align: center;
        padding: 2% 10% 2% 10%;
        border-radius: 8px;
        border: hidden;
        cursor: pointer;
        outline: none;
        background-color: #c8e6c9;
    }

    #quillEditor {
        box-sizing: border-box;
        border: none;
        width: 85%;
    }

    .ql-toolbar.ql-snow {
        display: flex;
        flex-direction: row;
        position: fixed;
        right: 200px;
        top: 0px;
        width: 150px;
        border: none;
    } 
} 
